@import "../shared/helper";

.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: px(16);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 12, 47, 1) 35%,
    rgba(0, 15, 48, 1) 50%,
    rgba(1, 7, 37, 1) 65%,
    rgba(0, 2, 11, 1) 100%
  );
  color: white;
  header {
    width: px(2420);
    height: px(111);
    margin: 0 auto;
    background-size: cover;
    opacity: 0.9;
  }
  main {
    width: px(2420);
    margin: 0 auto;
    padding-top: px(20);
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box4 box5" 755fr
      "box3  box3 box4 box5" 363fr / 366fr 361fr 811fr 747fr;
    gap: px(28);
    > section {
      text-align: center;
    }
    .section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .chart1Wrapper {
        height: px(315);
      }
      .chart2Wrapper {
        height: px(423);
        .legend {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          padding: 0 px(20) px(10);
          .daytime,
          .nighttime {
            display: inline-block;
            width: px(18);
            height: px(12);
            margin: 0 px(10);
          }
          .daytime {
            background: linear-gradient(90deg, #b92ae8 0%, #6773e7 100%);
          }
          .nighttime {
            background: linear-gradient(90deg, #2034f9 0%, #04a1ff 100%);
          }
        }
      }
    }
    > .section2 {
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .chart3Wrapper,
      .chart4Wrapper {
        height: px(363);
      }
    }
    > .section3 {
      grid-area: box3;
      .chart5Wrapper {
        > table {
          margin-top: px(20);
          border-collapse: collapse;
          th,
          td {
            border: 1px solid #1a3671;
          }
          thead {
            th {
              height: px(70);
              box-shadow: inset 0 0 px(60) 0 #1f3d85;
            }
          }
          tbody {
            td {
              height: px(60);
              width: px(90);
              background: #1c2456;
            }
          }
        }
      }
    }
    > .section4 {
      grid-area: box4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .chart6Wrapper {
        height: px(753);
        background: transparent;
        box-shadow: none;
        position: relative;
        width: 100%;
        &::before {
          box-shadow: 17px 0 0 -16px#000b2e, -17px 0 0 -16px#000b2e,
            0 17px 0 -16px#000b2e, 0 -17px 0 -16px#000b2e, 9px 0 0 -8px #000b2e,
            -9px 0 0 -8px #000b2e, 0 9px 0 -8px #000b2e, 0 -9px 0 -8px#000b2e;
        }
        .notes {
          position: relative;
          left: px(200);
          bottom: px(40);
        }
      }
      .ageGroup {
        display: flex;
        flex-direction: column;
        height: px(363);
        > .charts {
          width: 100%;
          flex: 1;
          display: flex;
          padding: px(30);
        }
        .chart7Wrapper,
        .chart8Wrapper,
        .chart9Wrapper {
          flex: 1;
          display: flex;
          flex-direction: column;
          .legend {
            height: px(40);
            display: flex;
            align-items: center;
          }
          .chartAndText {
            flex: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            > .text {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #33a4fa;
              font-size: px(30);
              text-shadow: 0 0 px(10) #14598e;
              font-weight: bold;
            }
          }
        }
        .chart7Wrapper {
          .legend {
            justify-content: center;
            > span {
              width: px(40);
              height: px(20);
              border: px(1) solid white;
              border-radius: px(8);
              margin: 0 px(10);
            }
            .male {
              background: #33a4fa;
            }
            .female {
              background: #8d70f8;
            }
          }
        }
        .chart8Wrapper {
          .legend {
            justify-content: flex-start;
            flex-wrap: wrap;
            > span {
              width: px(16);
              height: px(10);
              border-radius: px(2);
              border: px(1) solid white;
              margin: 0 px(10);
            }
          }
        }
        .chart9Wrapper {
          border: 1px solid #08397d;
          h3 {
            font-size: px(20);
            color: #7ab6db;
            margin-top: px(6);
          }
        }
      }
    }
    > .section5 {
      grid-area: box5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .row1 {
        height: px(317);
        .chart11Wrapper {
          flex: 1;
          .legend {
            flex-shrink: 0;
            height: px(60);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 0 px(60);
            > span {
              width: px(20);
              height: px(16);
              border-radius: px(2);
              border: px(1) solid white;
              margin: 0 px(10);
            }
          }
        }
      }
      .row2 {
        height: px(330);
        .chart12Wrapper {
          flex: 1;
        }
      }
      .row3 {
        height: px(442);
        padding: 0 px(24);
        > table {
          width: 100%;
          table-layout: fixed;
          margin-top: px(15);
          border-collapse: collapse;
          th,
          td {
            border: 1px solid #1a3671;
          }
          thead {
            th {
              height: px(70);
              box-shadow: inset 0 0 px(60) 0 #1f3d85;
            }
          }
          tbody {
            td {
              height: px(26);
              width: px(90);
              background: #1c2456;
            }
          }
        }
      }
      .charts {
        display: flex;
        width: 100%;
        flex: 1;
      }
    }
  }
  footer {
    height: px(68);
    display: flex;
    border: 1px solid #0d2d59;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0c0d2b;
    border-radius: 4px;
    margin: px(20) 0 1px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    flex-shrink: 0;
    border: 1px solid #0a5299;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: px(22);
    line-height: px(24);
    padding: px(10) px(28);
    text-shadow: 0 0 px(3) white;
  }
  .chart {
    flex: 1;
    width: 100%;
  }
}
.bordered {
  border: 1px solid #0764bc;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
  background: #0c1139;
  &::before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 4px;
    box-shadow: 17px 0 0 -16px #0e325f, -17px 0 0 -16px #0e325f,
      0 17px 0 -16px #0e325f, 0 -17px 0 -16px #0e325f, 9px 0 0 -8px #0d4483,
      -9px 0 0 -8px #0d4483, 0 9px 0 -8px #0d4483, 0 -9px 0 -8px #0d4483;
  }
}
